kijumbesmart.co.tz {
    @appwrite path /v1/* /v2/*

    handle @appwrite {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Allow-Credentials "true"
        header Access-Control-Max-Age "3600"

        reverse_proxy https://fra.cloud.appwrite.io {
            header_up Host {upstream_hostport}
            header_up Origin http://localhost:2025
        }
    }

    handle {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Allow-Credentials "true"
        header Access-Control-Max-Age "3600"

        reverse_proxy localhost:2025
    }
}
